.playlist {
	color: rgb(15, 173, 184);
}

.info {
    padding-bottom: 10px;
    border-bottom: 1px solid grey;
}

.info p{
    margin: 0;
}

.songs-list {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 20px;
    padding-top: 10px;
    list-style: disclosure-closed;
}